@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin:0px; 
    font-family: 'Nunito';
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(./assets/Anubado.jpg);
    background-color: #99d2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#seleccionar-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin: 0px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(193, 255, 255, 0.397);
    background-color: rgba(83, 102, 197, 0.5);
    font-size: 60px;
    display: block;
    color: white;
    width: 100%;
    text-align: center;
}

.subtitulo{
    font-size: 32px;
}

.tarjetas{
    display: flex;   
    flex-direction: row; 
}

input{
    display: none;
}

.tarjeta-personaje{
    color: white;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 10px;
    border-color: black;
    width: 100px;
    height: 100px;
    background-color: #a0daff;
    text-align: center;
    transition: transform 0.3s ease-out;
}

.tarjeta-personaje:hover{
    transform: scale(1.1);
}

.tarjeta-personaje input:focus{
    border-color: rgb(103, 255, 103);
}
.tarjeta-personaje p{
    margin: 5px;
}

.tarjeta-personaje img{
    height:60%;
}

button{
    margin: 10px;
    font-family: 'Nunito';
    padding: 10px;
    background-color: aquamarine;
    border: 1px solid;
    border-color: chartreuse;
    border-radius: 20px;
    width: 200px;
}

#seleccionar-ataque{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.combate{
    display: grid;
    margin-top: 20px;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 50px
}

.cuadro-jugador{
    background-color: #a0daff;
    display: grid;
    box-sizing: border-box;
    grid-template-rows: 8fr 1fr;
    grid-template-columns: 300px;
    width: 300px;
    height: 400px;
    border: none;
    border-radius: 10px;
    /*Modificar estos dos si se quiere cambiar la posición del sprite (?*/
    justify-content: center;
    align-items: center;
}

.sprite-container{
    justify-self: center;
    width: 250px;
}

/*Cómo que si o sí debo modificar ambos para que se pueda ajustar al contenedor? :u*/
.cuadro-jugador img{
    height: 100%;
    width: 100%;
}

.barra-vida{
    margin: 0px;
    background-color: cornflowerblue;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#mensajes{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
    justify-content: center;
    display: grid;
}

#mensajes .encabezado{
    background-color: rgb(102, 35, 35);
    padding: 10px;
    color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

#mensajes-container{
    background-color:rgba(143, 143, 143, 0.397);
    width: 650px;
    height: 200px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

#resultado{
    font-size: 32px;
    color: white;
    justify-items: center;
}

#reiniciar{
    text-align: end;
    margin-right: 20px;
}

